vendor
.env
!docker/builds/**/.env
.idea
tmp
main
main.exe
app


!private/documents

json_google/*
public/uploads/*
public/uploads/routes.json
!public/uploads/logo.jpg

public/schemas/*

cmd/test_utils/test.png

./*/**/.DS_Store
notes.md
.DS_Store
devbox.json
devbox.lock
