options:
  docker: true
  max-time: 10
  size: 1x
clone:
  enabled: true
  depth: full
definitions:
  services:
    docker:
      image: docker/compose:1.29.1
image:
  name: docker/compose:1.29.1
pipelines:
  default:
    - step:
        name: Build and Push Docker Image
        max-time: 10
        script:
          - export DOCKER_BUILDKIT=1
          - export CONTAINER_NAME=1
          - export CONTAINER_TAG=${APP_VER}.$(shell git rev-list --count HEAD).$(shell git describe --always)
          - docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD
          - make do
          - make do/push
        caches:
          - docker
  branches:
    master:
      - step:
          name: Deploy to Server
          caches:
            - docker
          script:
            - ssh root@sadeem-lab.com "docker login -u $DOCKER_HUB_USERNAME -p $DOCKER_HUB_PASSWORD"
            - ssh root@sadeem-lab.com "docker pull violet-owl:latest"
            - ssh root@sadeem-lab.com "docker stop $CONTAINER_NAME || true"
            - ssh root@sadeem-lab.com "docker rm $CONTAINER_NAME || true"
            - ssh root@sadeem-lab.com "docker run -d --name $CONTAINER_NAME -p 8000 $CONTAINER_NAME:latest"
    
